@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins&display=swap');

/*
    font-family: 'DM Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
*/

:root{
    --black: #171718;
    --black-border: #171718;
    --white: #fff;
    --purple: #5c62ec;

    --dark-bg: var(--black);
    --dark-border: var(--black-border);
    --header-text: var(--white);
    --accent: var(--purple);

}

html, body {
    font-family: 'DM Sans', sans-serif;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Nav */
.nav {
    padding: 20px 0;
    border-bottom: 1px solid var(--dark-border);
    background-color: var(--dark-bg);
    color: var(--header-text);
}

.nav-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.logo {
    color: var(--header-text);
    align-items: baseline;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.logo strong {
    font-size: 24px;
    font-weight: 700;
}

.nav-list{
    display: flex;
    column-gap: 40px;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.nav-list__link {
    color: var(--header-text);
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-list__link--active{
    position: relative;
}

.nav-list__link--active::before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--accent);
}